
.content {background-color: blueviolet}
.header {background-color: rgb(245, 214, 214);}
.sidebar-left {background-color: rgb(212, 212, 243);}
/* .footer {background-color: rgb(243, 232, 243);} */

body {
	margin: 0;
}

.layout {
	display: flex;
	flex-wrap: wrap;
	height: 670px;
	}

.header {
	display: flex;
	/* justify-content: space-around; */
	justify-content: flex-end; 
	align-items: center;
	height: 63px;
	width: 99%;
	padding: 10px;
	}

.sidebar-left {
	width: 101px;
	margin: 10px;
	height: 99%;
	padding: 10px;
	border-radius: 25px;}

.content {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 78%;
	height: 102%;
	margin: 10px;
	border-radius: 25px;
	}

	/* .links {
		display: flex;
		justify-content:right;
	} */


